.main_part {
  background-color: #e6eff8;
  color: #002d51;
  margin: 30px;
  border-radius: 15px;
}

.main_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.main_heading {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.7rem;
}

.square_img {
  max-width: 300px;
  border-radius: 15px;
}

.main_paragraph {
  max-width: 300px;
  text-align: center;
  padding-top: 20px;
  font-size: 1.1rem;
}
