/* základní styl všech fade-item prvků */
.fade_item {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

/* jakmile parent (reveal.slide-in) je aktivní, spustí se animace */
.reveal.slide-in .fade_item {
  opacity: 1;
  transform: translateY(0);
}

/* jednotlivá zpoždění */
.delay_0 {
  transition-delay: 0s;
}

.delay_1 {
  transition-delay: 0.2s;
}

.delay_2 {
  transition-delay: 0.4s;
}
.delay_3 {
  transition-delay: 0.6s;
}

.main_part {
  background-color: #e6eff8;
  color: #002d51;
  margin: 30px 40px 30px 30px;
  border-radius: 15px;
}

.main_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.main_heading {
  text-align: center;
  padding-bottom: 20px;
  font-size: 2.7rem;
}

.square_img {
  max-width: 300px;
  border-radius: 15px;
}

.main_paragraph {
  max-width: 300px;
  text-align: center;
  padding-top: 20px;
  font-size: 1.1rem;
}
