.company_card {
  width: 400px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(19, 86, 142);
  border-radius: 10px;
}

.company_name {
  text-align: center;
}
