.footer_paragraph {
  font-size: 0.7rem;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #042038;
  gap: 6px;
  color: white;
  box-shadow: 0 -10px 20px rgba(17, 44, 66, 0.5);
}

.footer_linkedIn {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
