.advantage_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  gap: 15px;
}

.advantage_card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
}

.advantage_circle {
  position: relative;
  width: 65px;
  height: 65px;
  background-color: #f4a261;
  border-radius: 50%;
}

.symbols_advantage {
  position: absolute;
  left: 45%;
  font-size: 62px;
}
