.contact_column {
  display: flex;
  justify-content: center;
  padding: 25px;
  display: flex;
}

.form_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_field {
  display: flex;
  flex-direction: column;
}
.form_label {
  font-weight: bold;
  text-transform: uppercase;
  color: #002d51;
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}

.form_input {
  border: none;
  border-bottom: 1px solid #f4a261;
  background-color: transparent;
  line-height: 2.625rem;
  color: #529edc;
  margin-bottom: 25px;
}

.form_message {
  display: flex;
  flex-direction: column;
}

.form_textarea {
  border: none;
  border-bottom: 1px solid #f4a261;
  background-color: transparent;
  line-height: 2.625rem;
  color: #529edc;
  margin-bottom: 25px;
}

.form_btn {
  display: inline-block;
  width: auto;
  align-self: flex-end;
  padding: 20px 77px;
  border-radius: 35px;
  border: none;
  font-weight: bold;
  cursor: pointer;

  font-family: "Open Sans";
  background-color: #f4a261;
  color: #002d51;
}
