.mobile_open_menu {
  cursor: pointer;
  border: none;
  background: none;
  padding: 6px;
  margin-right: 28px;
}
.mobile_open_menu:hover {
  border-radius: 5px;
  border: 1px solid rgba(246, 244, 240, 0.56);
}

svg {
  width: 25px;
  height: 25px;
  color: rgb(236, 236, 230);
}

.menu_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  box-shadow: 0 10px 10px -10px rgba(17, 44, 66, 0.5);
  border-radius: 0 0 15px 15px;
}
.menu_link {
  position: relative;
  font-family: "Menbere";
  font-size: 18px;
  color: rgb(19, 86, 142);
  text-decoration: none;
  padding: 8px;
}

.menu_link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: rgb(19, 86, 142);
}

.menu_link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
  transition: width 0.4s ease, right 0.4s ease;
}

.dialog_root {
  position: relative;
}

.menu_overlay {
  position: fixed;
  inset: 0;
  animation: fadeIn 300ms ease-out;
}

.menu_content {
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  z-index: 999;
  animation: slideDown 0.8s ease-out;
  background-color: #f2f5f9;
  margin: 0 40px 0 30px;
  border-radius: 0 0 15px 15px;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
