.mobile_open_menu {
  cursor: pointer;
  border: none;
  background: none;
  padding: 6px;
  margin-right: 28px;
}
.mobile_open_menu:hover {
  border-radius: 5px;
  background-color: rgb(18, 50, 82);
}

.mobile_close_menu {
  cursor: pointer;
  border: none;
  background: none;
  padding: 6px;
  color: black;
}
.mobile_close_menu:hover {
  border-radius: 5px;
}
svg {
  width: 25px;
  height: 25px;
  color: rgb(246, 244, 240);
}

.menu_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  box-shadow: 0 10px 20px rgba(17, 44, 66, 0.5);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

.dialog_root {
  position: relative;
}

.menu_content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  animation: slideDown 300ms ease-out;
}
