.header {
  z-index: 1000;
  position: relative;
  height: 120px;
  display: flex;
  background-color: #042038;
  box-shadow: 0 10px 20px rgba(17, 44, 66, 0.5);
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 28px;
  border-radius: 50%;
}

.nav_links {
  display: none;
}

@media (min-width: 1024px) {
  .header_container {
    padding: 0 100px;
  }
  .nav_hamburger {
    display: none;
  }
  .nav_links {
    display: flex;
  }
  .nav_element {
    padding: 0 18px;
    list-style: none;
  }
  .nav_link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1875rem;
    font-size: 0.8rem;
    padding: 28px 10px;
  }
  .nav_links:last-of-type {
    margin-right: 40px;
  }
  .nav_link:hover {
    border-bottom: 1px solid #f4a261;
  }
  .logo {
    margin-left: 40px;
  }
}
