.addressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.addressSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapSection {
  width: 100%;
  height: 50vh;
}

@media (min-width: 500px) {
  .addressSection {
    flex-direction: row;
    justify-content: space-around;
  }
}
